extends layout

block content
    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    title Simple icons
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
      height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }  
    body
    #map
    script.
      function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: {lat: 32.879590, lng: -117.237559}
      });
      var image = 'https://www.google.com/mapfiles/marker.png';
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.878880, lng: -117.240590},
      map: map,
      icon: image
      });
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.880799, lng: -117.237511},
      map: map,
      icon: image
      });
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.877718, lng: -117.237565},
      map: map,
      icon: image
      });
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.878276, lng: -117.239335},
      map: map,
      icon: image
      });
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.878959, lng: -117.236044},
      map: map,
      icon: image
      });       
      }
    script(async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyC4Mdmwz4M0GbhDNj1PwjTnQ7FTx-wOLic&libraries=places&callback=initMap").
