extends layout

block content

    div(id="myModal" class="modal fade" role="dialog")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header" style="text-align: center")
            h3 Playing as: Seeker
            button(type="button" class="close" data-dismiss="modal")
            h4(class="modal-title")
              div(class="modal-body")
                p Seek!
                p Find the ghost by searching the marked locations. You're given the starting point and the ghost can be at any of the other locations. If you think you've found the ghost, confirm by making contact with the ghost and click "Found the Ghost".
            
            div(class="modal-footer")
              button(type="button" id="close" class="btn btn-success text-center" data-dismiss="modal")  Close

    script.
      $( document ).ready( function() {
      $( '#myModal' ).modal( 'toggle' );
      });

    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    title Simple icons
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      } 
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      #floating-panel {
        position: fixed;
        top: 90%;
        left: 50%;
        z-index: 3;
        transform: translate(-50%, -50%);
        text-align: center;
        font-family: 'Roboto','sans-serif';
      }
      

    #floating-panel
      button#found.btn-fixed.btn-lg.btn-primary(type='button') Found the Ghost!

    body
    #map
    script.
      function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: {lat: 32.879590, lng: -117.237559}
      });
      var image = 'https://www.google.com/mapfiles/marker.png';
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.878880, lng: -117.240590},
      map: map,
      icon: image
      });
      var image = 'https://www.google.com/mapfiles/marker.png';
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.877718, lng: -117.237565},
      map: map,
      icon: image
      });
      var image = 'https://www.google.com/mapfiles/marker.png';
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.878276, lng: -117.239335},
      map: map,
      icon: image
      });
      var image = 'https://www.google.com/mapfiles/marker.png';
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.878959, lng: -117.236044},
      map: map,
      icon: image
      }); 

      var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.880799, lng: -117.237511},
      map: map,
      icon: image
      });      
      }
      
    script(type='text/javascript').
      window.onload = function () {
        document.getElementById("found").onclick = function(){
          location.href = "/rate" 
      };
          };



    script(async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyC4Mdmwz4M0GbhDNj1PwjTnQ7FTx-wOLic&libraries=places&callback=initMap").
