extends layout

block content

    div(id="myModal" class="modal fade" role="dialog")
      div(class="modal-dialog")
        div(class="modal-content")
          div(class="modal-header")
            button(type="button" class="close" data-dismiss="modal")
            h4(class="modal-title")
              div(class="modal-body")
                p You're playing as: Seeker. Find the ghost by traveling to one of the marked locations. You are given the starting point as a hint. If you think you found the ghost, confirm by making contact with the ghost and click "found the ghost". 
                  div(class="modal-footer")
                    button(type="button" id="close" class="btn btn-default" data-dismiss="modal")  Close

    script.
      $( document ).ready( function() {
      $( '#myModal' ).modal( 'toggle' );
      });

    meta(name='viewport', content='initial-scale=1.0, user-scalable=no')
    meta(charset='utf-8')
    title Simple icons
    style.
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
      height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      } 
      /* Always set the map height explicitly to define the size of the div
      * element that contains the map. */
      #map {
      height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
      height: 100%;
      margin: 0;
      padding: 0;
      }
      #floating-panel {
      position: fixed;
      bottom: 5px;
      left: 0;
      right: 0;
      height: 50px;
      z-index: 5;
      padding: 5px;
      text-align: center;
      font-family: 'Roboto','sans-serif';
      line-height: 30px;
      padding-left: 10px;
      }
      #floating-panel {
      margin-left: -52px;
      }

    #floating-panel
      button#found.btn-fixed.btn-lg.btn-primary(type='button') Found The Hider!
    body
    #map
    script.
      function initMap() {
      var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 16,
      center: {lat: 32.879590, lng: -117.237559}
      });
      var image = 'https://www.google.com/mapfiles/marker.png';
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.878880, lng: -117.240590},
      map: map,
      icon: image
      });
      var image = 'https://www.google.com/mapfiles/marker.png';
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.877718, lng: -117.237565},
      map: map,
      icon: image
      });
      var image = 'https://www.google.com/mapfiles/marker.png';
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.878276, lng: -117.239335},
      map: map,
      icon: image
      });
      var image = 'https://www.google.com/mapfiles/marker.png';
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.878959, lng: -117.236044},
      map: map,
      icon: image
      }); 

      var image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';
      var beachMarker = new google.maps.Marker({
      position: {lat: 32.880799, lng: -117.237511},
      map: map,
      icon: image
      });      
      }
      
    script(type='text/javascript').
      window.onload = function () {
        document.getElementById("found").onclick = function(){
          location.href = "/rate" 
      };
          };



    script(async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyC4Mdmwz4M0GbhDNj1PwjTnQ7FTx-wOLic&libraries=places&callback=initMap").
