extends layout

block content
    #main.container
        h1(class='testHome text-center') #[strong Ghost Tag]
        h3(class= 'testHome text-center') A hide and seek game.

        <br>
        button(type="button" id="start" class="btn btn-success center-block") Play
        
        script(type='text/javascript').
            window.onload = function () {
                document.getElementById("start").onclick = function(){
                    location.href = "/select" 
                };
            };
