extends layout

block content  
	div(id="myModal" class="modal fade" role="dialog")
		div(class="modal-dialog")
			div(class="modal-content")
				div(class="modal-header")
					button(type="button" class="close" data-dismiss="modal")
					h4(class="modal-title")
						div(class="modal-body")
							p You're playing as: Ghost. Hide! Go to a variety of locations. The more places you go the more difficult it is for the seekers.
								div(class="modal-footer")
									button(type="button" id="close" class="btn btn-default" data-dismiss="modal")  Close

	script.
		$( document ).ready( function() {
		$( '#myModal' ).modal( 'toggle' );
		});

	div(class="alert alert-info" id="recordwarning")
		strong Info!
		|  Recording...
	div(id="map")
	script(type="text/javascript" src="/js/record.js").
      
	script(async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyC4Mdmwz4M0GbhDNj1PwjTnQ7FTx-wOLic&libraries=places&callback=initMap").