extends layout

block content
    head
    style.
      body {margin:0;}
      ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #333;
      position: fixed;
      top: 0;
      width: 100%;
      }
      li {
      float: left;
      }
      li a {
      display: block;
      color: white;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      }
      li a:hover:not(.active) {
      background-color: #111;
      }
      .active {
      background-color: #4CAF50;
      }
    body
        ul
          li
            a(href='/') Home
          li
            a.active(href='/select') Start
          li
            a(href='/record') Hider
          li
            a(href='/find') Seeker
          li
            a(href='/rate') Rate
    br
    br
    h1(class='testHome text-center') #[strong Ghost Tag]
    h3(class='text-center') Play as: 

  
    #options.container
        .row
            a(href='/record')
                img(src='/images/ghost.png', alt='Ghost', height='190', width='170')
                
            h3(class='text-center') #[Strong Hide]

                //button(type="button" class="btn btn-success center-block" id = 'RecordId') Ghost
        .row
            a(href='/find')
                img(src='/images/seeker.png', alt='Seeker', height='210', width='210')

            h3(class='text-center') #[Strong Seek]

                //button(type="button" class="btn btn-success center-block" id = 'FindId') Seeker
