extends layout

block content
    h1(class='testHome text-center') #[strong Ghost Tag]
    h3(class='text-center') Play as: 

    br
  
    #options.container
        .row
            a(href='/record')
                img(src='/images/ghost.png', alt='Ghost', height='220', width='200')
                
            h3(class='text-center') #[Strong Hide]

                //button(type="button" class="btn btn-success center-block" id = 'RecordId') Ghost

        br
        br

        .row
            a(href='/find')
                img(src='/images/seeker.png', alt='Seeker', height='250', width='250')

            h3(class='text-center') #[Strong Seek]

                //button(type="button" class="btn btn-success center-block" id = 'FindId') Seeker


    //script(type='text/javascript').
        window.onload = function () {
            document.getElementById("RecordId").onclick = function(){
                location.href = "/record" 
            };
            document.getElementById("FindId").onclick = function()
            {
                location.href = "/find"
                }
        };
